@import 'tailwindcss';

:root {
  /* Primary colors */
  --color-background: rgb(159, 83, 83);
  --color-foreground: rgb(9, 128, 9);

  /* Fonts */
  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
