@import 'tailwindcss';

:root {
  --color-background: #0a0f1c;
  --color-foreground: #ededed;

  --font-sans: 'Geist Sans', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

@theme {
  --color-primary: #2b7ffe;
  --color-secondary: #fe626b;
  --color-tertiary: #4ad08e;
  --color-background: #0a0f1c;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  scroll-behavior: smooth;
}

button {
  @apply cursor-pointer;
}

@layer utilities {
  .bg-grid {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
    background-size: 80px 80px;
  }

  .aurora-bg {
    position: relative;
    overflow: hidden;
    background: var(--color-background);
  }

  .aurora-blob {
    position: fixed;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.18;
    mix-blend-mode: screen;
  }

  /* Random blobs with different colors */
  .aurora-blob-1 {
    width: 400px;
    height: 400px;
    background: rgba(0, 200, 255, 0.4);
    top: 30%;
    left: -5%;
  }

  .aurora-blob-2 {
    width: 400px;
    height: 400px;
    background: rgba(0, 255, 150, 0.4);
    bottom: 0%;
    left: 20%;
  }

  .aurora-blob-3 {
    width: 400px;
    height: 400px;
    background: rgba(255, 0, 150, 0.4);
    bottom: 5%;
    right: -10%;
  }

  .aurora-blob-4 {
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 0, 0.4);
    top: -5%;
    right: 15%;
  }
  .aurora-blob-5 {
    width: 400px;
    height: 400px;
    background: rgba(255, 150, 0, 0.4);
    top: 10%;
    left: 30%;
  }
  .aurora-blob-6 {
    width: 400px;
    height: 400px;
    background: rgba(150, 0, 255, 0.4);
    bottom: 10%;
    right: 15%;
  }

  @keyframes gradient-x {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  .animate-gradient {
    background-size: 250% 250%;
    animation: gradient-x 15s 2s ease infinite;
  }

  @keyframes icon-bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  .group:hover .animate-icon {
    display: inline-block;
    animation: icon-bounce 0.5s ease;
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 1.5s linear infinite;
  }
}
